@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
}

.container {
  width: 100%;
  padding: 40px;
}

.title {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #F59300;
}

.text {
  display: block;
  margin-bottom: 40px;
}

.btn {
  display: block;
  width: fit-content;
  min-width: fit-content;
  background-color: #F59300;
  padding: 12px 36px;
  border-radius: 5px;
  color: #fff;
}

.input {
  padding: 12px 16px;
  border-radius: 5px;
  border: 1px solid #000;
}

.input::placeholder {
  color: #fff;
}

.app {
  display: flex;
}

.error {
  display: block;
  color: rgb(243, 34, 34);
}